@import '../../styles/Constants.scss';

.column {
	float: left;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	@media (max-width: $large-mobile) {
		width: unset;
		//flex-direction: row;
	}
}

/* Clear floats after the columns */
.row:after {
	content: '';
	display: table;
	clear: both;
}

.row {
	display: flex;
	padding: 20px;
	@media (max-width: $small-mobile) {
		flex-direction: column;
	}
}

.map {
	width: 600px;
	height: 450px;
	frameborder: 0;
	border: 5px;

	@media (max-width: $large-mobile) {
		width: unset;
		height: unset;
		//max-width: 100%;
	}
}
