@font-face {
	font-family: 'GochiHand';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/GochiHand.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/OpenSans.ttf') format('truetype');
}

@font-face {
	font-family: 'SweetHipster';
	font-weight: 100;
	src: url('/fonts/SweetHipster.ttf') format('truetype');
}
