@import '../../styles/Constants.scss';

input {
	outline: 0;
	border: 1px solid #f2f2f2;
	font-size: 14px;
	padding: 15px;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	font-family: sans-serif;
	background: 0 0;
	width: 350px;
}

input.radioButtons {
	width: 50px;
}

button {
	background: #8bc34a;
	border: 1px solid #8bc34a;
	color: #fff;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	padding: 13px 18px;
	border-radius: 5px;
	outline: 0;
	letter-spacing: 0.1em;
	font-weight: 500;
	cursor: pointer;
	font-family: sans-serif;
	font-size: 14px;
}

.rsvpContainer {
	width: 50%;
	height: 60%;
	@media (max-width: $small-mobile) {
		width: 90%;
	}
}

.loginContainer {
	width: 50%;
	height: 30%;
	@media (max-width: $small-mobile) {
		width: 90%;
		height: 50%;
	}
}

.formContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
}

.formItem {
	display: flex;
	font-size: 14px;
}
